<header>
  <nav id="login">
    <span><a href="#section1_container" class="scroll_move">HOME</a></span>
    <span><a href="#section2_container" class="scroll_move">TEAM</a></span>
    <span><a href="#section3_container" class="scroll_move">ACTIVITIES</a></span>
    <span><a href="/auth/kakao">LOGIN</a></span>
  </nav>
</header>