<!DOCTYPE html>
<html>
    <head>
        <title>씨애랑 30주년</title>
        <link rel="stylesheet" href="/css/30th.css">
    
    </head>
    <body>
        <header>
            <div class="nav">
              <div class="title">
                <strong>CAERANG</strong>
                <img id="logo" src="img/TitleLogo.png">
              </div>
              <div class="meun">
                <lu>
                  <li><a href="/main"><strong>SW 전시회</strong></a></li>
                </lu>
              </div>
            </div>
          </header>
          <section>
            <div class = "cube1_body">
              <div class = "cube1">
                <div class = "top1"><img src = "/img/TitleLogo.png"></div>
                <div>
                    <span style="--i:0;"></span>
                    <span style="--i:1;"></span>
                    <span style="--i:2;"></span>
                    <span style="--i:3;"></span>
                </div>
              </div>
            </div>
            <div class = "cube2_body">
              <div class = "cube2">
                <div class = "top2"><img src = "/img/TitleLogo.png"></div>
                <div>
                    <span style="--i:0;"></span>
                    <span style="--i:1;"></span>
                    <span style="--i:2;"></span>
                    <span style="--i:3;"></span>
                </div>
              </div>
            </div>
            <div class="main">
                  <img class="img" src="img/30th1.png">
                  <img class="img" src="img/30th2.png">
                  <img class="img" src="img/30th3.png">
                  <img class="img" src="img/30th4.png">
                  <img class="img" src="img/30th6.png">
            </div>
          </section>
    </body>
</html>
