<!doctype html>
<html lang="en">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta http-equiv = "X-UA-Compatible" content = "IE=edge">
  <link rel = "shortcut icon" type = "image/x-icon" href = "/img/TitleLogo.png">
  <link rel = "preconnect" href = "https://fonts.gstatic.com">
  <link href = "https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@300&display=swap" rel = "stylesheet">
  <title>씨애랑 SW 전시회</title>
  <!-- Bootstrap CSS -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
  <meta http-equiv="Content-Security-Policy" content="upgrade-insecure-requests">
  <link rel="stylesheet" type="text/css" href="./css/main.css">
  <link rel="stylesheet" type="text/css" href="./css/main_header.css">
  <link rel="stylesheet" type="text/css" href="./css/footer.css">

  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Pacifico&display=swap" rel="stylesheet">
  <%- include('./partials/head') %>

</head>

<body>
  <%- include('./partials/main_header') %>
    <section>
      <div id="section1_container">
        <img src="/img/TitleLogo.png" alt="씨애랑 로고 이미지">
        <p class="typing-txt">C·AERANG</p>
      </div>

      <div id = "section2_container">
        <div class = "section2_image">
          <div><img src = "/img/handle.png"></div>
          <div><img src = "/img/people.png"></div>
          <div><img src = "/img/chance.jpg"></div>
        </div>
        <div class = "section2_example">
          <div><p>누구든 참여할 수 있고</p></div>
          <div><p>같이 즐길 수 있으며</p></div>
          <div><p>새로운 기회를 가지는</p></div>
        </div>
        <div class = "section2_plus">
          <div id = "p1"><p>학부생 뿐만 아니라</p><p>누구든 사이트에 방문 가능합니다.</p></div>
          <div id = "p2"><p>하고자 하는 마음만 가진다면</p><p>누구든지 이 활동에 참여하고, 즐길 수 있습니다.</p></div>
          <div id = "p3"><p>다양한 사람들과의 커뮤니케이션을 가지며</p><p>자신의 목표에 대하여 새로운 도약을 향한 기회를 가져보세요.</p></div>
        </div>
      </div>

      <div id = "section3_container">
        <h1>TEAM &nbsp;&nbsp;&nbsp;EXPLANATION</h1>
        <div class = "team1_select">
          <div class = "team1_img">
            <a href="/posts/raon"><img src="/img/RaonLogo.png" alt="라온 로고 이미지" ></a>
          </div>
          <div class = "img1_info">
            <h3>RAON</h3>
            <p>게임 및 컨텐츠 제작하는 팀 입니다.</p>
          </div>
        </div>
        <div class = "team2_select">
          <div class = "team2_img">
            <a href="/posts/tag"><img src="/img/TagLogo.png" alt="태그 로고 이미지" ></a>
          </div>
          <div class = "img2_info">
            <h3>TAG</h3>
            <p>웹 개발 및 서버관리하는 팀 입니다.</p>
          </div>
        </div>
        <div class = "team3_select">
          <div class = "team3_img">
            <a href="/posts/latte"><img src="/img/LatteLogo.png" alt="태그 로고 이미지" ></a>
          </div>
          <div class = "img3_info">
            <h3>LATTE</h3>
            <p>모바일 프로그램 제작 팀 입니다.</p>
          </div>
        </div>
        <div class = "team4_select">
          <div class = "team4_img">
            <a href="/posts/tensor"><img src="/img/TensorLogo.png" alt="태그 로고 이미지" ></a>
          </div>
          <div class = "img4_info">
            <h3>TENSOR</h3>
            <p>AI 개발 팀 입니다.</p>
          </div>
        </div>
        <div class = "team5_select">
          <div class = "team5_img">
            <a href="/posts/core"><img src="/img/CoreLogo.png" alt="태그 로고 이미지" ></a>
          </div>
          <div class = "img5_info">
            <h3>CORE</h3>
            <p>전자회로 팀 입니다.</p>
          </div>
        </div>
      </div>

      <div id="section4_container">
          <h1>ACTIVITIES</h1>
          <div class = "slider">
            <input type = "radio" name = "slide" id = "slide1" checked>
            <input type = "radio" name = "slide" id = "slide2">
            <input type = "radio" name = "slide" id = "slide3">
            <input type = "radio" name = "slide" id = "slide4">
            <ul id = "imgholder" class = "imgs">
              <li><img src = "/img/active1.jpg"></li>
              <li><img src = "/img/active2.jpg"></li>
              <li><img src = "/img/active3.jpg"></li>
              <li><img src = "/img/active4.jpg"></li>
            </ul>
            <div class = "bullets">
              <label for = "slide1">&nbsp;</label>
              <label for = "slide2">&nbsp;</label>
              <label for = "slide3">&nbsp;</label>
              <label for = "slide4">&nbsp;</label>
          </div>
    </div>

    </section>
    <footer>
      <%if(isAuthenticated) {%>
        <div>
          <span><%=currentUser.user.nickname%> 님</span>
        </div>
        <div>
          <span>등급 : <%=currentUser.user.role%></span>
        </div>
        <%if(currentUser.user.role==='일반'){%>
          <a id="role">관리자권한 신청</a>
        <%} else {%>
          <span><a id="back">일반으로 돌아가기</a></span>
      <%}}%>
    </footer>
    


              <script src="http://code.jquery.com/jquery-latest.min.js"></script>
              <script src="./js/main.js"></script>

</body>

</html>