footer {
    width : 100%;
    display : flex;
    justify-content: space-around;
    font-family : 'Gill Sans MT';
    color : white;
    background-color : black;
}

span {
    display : flex;
}

@media screen and (min-width : 100px) and (max-width : 1400px) {
    footer {
        display : none;
    }
}