header {
  position : fixed;
  width: 100%;
  height: 10%;
  padding-left: 3rem;
  color: black;
  background : linear-gradient(white, beige);
  font-weight: bold;
  font-family : 'Source Sans Pro';
  display: flex;
  justify-content: space-between;
  align-items: center;
  opacity : 0.5;
  z-index : 1;
}

#login a:nth-child(1):hover {
  color : lightcoral;
}

#login a:nth-child(2):hover {
  color : lightcoral;
}

#login a:nth-child(3):hover {
  color : lightcoral;
}

#login a:nth-child(4):hover {
  color : lightcoral;
}

#login span a {
  text-decoration : none;
  color : black;
  height : 70px;
  line-height : 65px;
  margin-top : 1%;
  margin-right :55px;
  padding-left : 1px;
}

@media screen and (max-width:768px) {
  #login {
    flex-direction : column;
    align-items : flex-start;
    padding : 8px 24px;
  }

  #login span a {
    flex-direction : column;
    align-items : center;
    width : 100%;
  }
}