body {
  z-index : -3;
  overflow-x: hidden;
}

.EventBox {
  position : fixed;
  bottom : 20px;
  right : 10px;
  background : linear-gradient(lightgray 60%, gray);
  width : 80px;
  height : 160px;
  border-radius: 40px;
  text-align: center;
}

.EventBox img {
  margin-top: 10px;
  width : 60px;
  height : 70px;
}

.EventBox a {
  font-family : 'NanumSquare';
  text-decoration: none;
  font-size : 13px;
  color : black;
}

.EventBox p {
  margin-top : 20px;
}

#section1_container {
  position : relative;
  height : 90vh;
  margin : auto;
  z-index : -2;
  background-color : white;
}

#section1_container #backgr img {
  display : block;
  width : 30%;
  height : 30%;

  margin : 0 auto;
  padding-top : 17%;
  z-index : -1;
  opacity : 0.1;
}

#titlelg img {
  position : absolute;
  width : 17%;
  top : 35%;
  margin-left : 41%;
  z-index : 0;
}

#titlelg img {
  animation-name : fadein, runleft;
  animation-delay : 0s, 1s;
  animation-duration : 1s, 1s;
  animation-fill-mode : both;
}

#section1_container p {
  position : absolute;
  top : 45%;
  left : 53%;
  z-index : 0;
  width : 40%;
}

.typing-txt {
  visibility : hidden;
  animation : typing 2s steps(22), blink .5s step-start infinite alternate;
  white-space : nowrap;
  overflow : hidden;
  font-weight : bold;
  text-shadow : 2px 2px 4px black;
  font-family: 'Arial';
  font-size : 500%;
  animation-delay : 1s;
  animation-duration : 1s;
  animation-fill-mode : both;
}

@media screen and (min-width:200px) and (max-width:1100px) {
  #titlelg img {
    position : absolute;
    width : 150px;
    left : 200px;
    top : 38%;
  }
  .typing-txt {
    position : absolute;
    font-size : 220%;
  }
}

#section2_container {
  background-image : url('/img/section2_background.jpg');
  background-repeat: no-repeat;
  background-size : cover;
  position : relative;
  height : 100vh;
  margin : auto;
  z-index : -2;
  background-color : white;
  border-bottom : 1px solid whitesmoke;
  border-top : 1px solid whitesmoke;
  display : flex;
  justify-content: space-evenly;
  opacity : 0.85;
}

.section2_box1 {
  opacity : 0;
  width : 33%;
  height : 100%;
  border-right : 0.4px solid white;
  background-color: transparent;
  filter:brightness(1);
  z-index : -1;
}

.section2_box2 {
  opacity : 0;
  width : 34%;
  height : 100%;
  border-right : 0.4px solid white;
  z-index : -1;
}

.section2_box2 :hover {
  background-color: rgb(37, 36, 36);
}

.section2_box3 {
  opacity : 0;
  width : 33%;
  height : 100%;
  z-index : -1;
}

.section2_box3 :hover {
  background-color: rgb(37, 36, 36);
}

#section2_container p {
  text-align : center;
  color : white;
}

#p_title {
  font-size :300%;
  font-family: 'NanumSquare';
  font-weight: bold;
  line-height : 300px;
}
#p_main1 {
  font-weight : bold;
  font-family : 'sans serif';
  font-size : 300%;
  padding-top : 312px;
  color : white;
}

.hash_box1 {
  display : flex;
  background-color: transparent;
  justify-content: space-evenly;
  margin-top : 110px;
}

.hash_box2 {
  display : flex;
  background-color: transparent;
  justify-content: space-evenly;
  margin-top : 110px;
}

.hash_box3 {
  display : flex;
  background-color: transparent;
  justify-content: space-evenly;
  margin-top : 110px;
}

#box1_hash1 {
  width : 80px;
  height :30px;
  border-radius : 20px;
  border : 1px solid white;
}

#box1_hash2 {
  width : 80px;
  height :30px;
  border-radius : 20px;
  border : 1px solid white;
}

#box1_hash3 {
  width : 80px;
  height :30px;
  border-radius : 20px;
  border : 1px solid white;
}

#box1_hash4 {
  width : 80px;
  height :30px;
  border-radius : 20px;
  border : 1px solid white;
}

#p_main2 {
  font-weight : bold;
  font-family : 'sans serif';
  font-size : 300%;
  color : white;
}

#p_main3 {
  font-weight : bold;
  font-family : 'sans serif';
  padding-top : 320px;
  font-size : 300%;
  color : white;
}

#p_plus1 p {
  font-size : 150%;
  font-family: 'NanumSquare';
  color : rgb(185, 185, 185);
}

#p_plus2 p {
  font-size : 150%;
  font-family: 'NanumSquare';
  color : rgb(185, 185, 185);
}

#p_plus3 p {
  font-size : 150%;
  font-family: 'NanumSquare';
  color : rgb(185, 185, 185);
}

@media screen and (min-width:200px) and (max-width:1200px) {
  #p_title {
    font-size : 50px;
    text-align: center;
  }
}

#section3_container {
  background-color: white;
  height : 1700px;
  display : block;
  justify-content: space-around;
  align-items : center;
  font-family : 'NanumSquare';
  z-index : -1;
}

.section3_box1 {
  display : flex;
  justify-content: center;
  margin-top: 50px;
}

.team1_select {
  width : 700px;
  height : 500px;
  background-color: black;
}

.team1_select img{
  position: relative;
  width : 300px;
  height : 300px;
  top : 200px;
  left : 200px;
}

.img1_info {
  position: relative;
  bottom : 300px;
  left: 60px;
  width: 600px;
  height : 200px;
  background-color: black;
}

.img1_info img{
  position : relative;
  top : 44px;
  margin-left : 10px;
  width : 50px;
  height: 50px;
}

.img1_info h1{
  color: white;
  position : relative;
  top : 0;
  left : 300px;
  font-weight: bolder;
  font-family: 'Arial';
}

#p_11 {
  position : relative;
  top : 0;
  left : 190px;
  font-weight: bolder;
  color : darkred;
  font-size : 15px;
}

#p_12 {
  color: white;
  position : relative;
  top : 0;
  left : 190px;
  font-weight: bolder;
  font-size : 24px;
}

.section3_box2 {
  display : flex;
  justify-content: space-evenly;
  margin-top: 30px;
}

.team2_select {
  width : 700px;
  height : 500px;
  background-color: white;
}

.team2_select img{
  position: relative;
  width : 300px;
  height : 300px;
  top : 200px;
  left : 200px;
}

.img2_info {
  position: relative;
  bottom : 300px;
  left: 60px;
  width: 600px;
  height : 200px;
}

.img2_info img{
  position : relative;
  top : 44px;
  width : 50px;
  height: 50px;
}

.img2_info h1{
  position : relative;
  top : 0;
  left : 270px;
  font-weight: bolder;
  font-family: 'Arial';
}

#p_21 {
  position : relative;
  top : 0;
  left : 200px;
  font-weight: bolder;
  color : orange;
  font-size : 15px;
}

#p_22 {
  position : relative;
  top : 0;
  left : 220px;
  font-weight: bolder;
  font-size : 24px;
}

.team3_select {
  width : 700px;
  height : 500px;
  background-color: whitesmoke;
}

.team3_select img{
  position: relative;
  width : 300px;
  height : 300px;
  top : 200px;
  left : 200px;
}

.img3_info {
  position: relative;
  bottom : 300px;
  left: 60px;
  width: 600px;
  height : 200px;
}

.img3_info img{
  position : relative;
  top : 44px;
  left : 170px;
  width : 50px;
  height: 50px;
}

.img3_info h1{
  position : relative;
  top : 0;
  left : 240px;
  font-weight: bolder;
  font-family: 'Arial';
}

#p_31 {
  position : relative;
  top : 0;
  left : 120px;
  font-weight: bolder;
  color : green;
  font-size : 15px;
}

#p_32 {
  position : relative;
  top : 0;
  left : 160px;
  font-weight: bolder;
  font-size : 24px;
}

.section3_box3 {
  display : flex;
  justify-content: space-evenly;
  margin-top: 30px;
}

.team4_select {
  width : 700px;
  height : 500px;
  background-color: whitesmoke;
}

.team4_select img{
  position: relative;
  width : 300px;
  height : 300px;
  top : 200px;
  left : 200px;
}

.img4_info {
  position: relative;
  bottom : 300px;
  left: 60px;
  width: 600px;
  height : 200px;
}

.img4_info img{
  position : relative;
  top : 44px;
  width : 50px;
  height: 50px;
}

.img4_info h1{
  position : relative;
  top : 0;
  left : 270px;
  font-weight: bolder;
  font-family: 'Arial';
}

#p_41 {
  position : relative;
  top : 0;
  left : 230px;
  font-weight: bolder;
  color : green;
  font-size : 15px;
}

#p_42 {
  position : relative;
  top : 0;
  left : 180px;
  font-weight: bolder;
  font-size : 24px;
}

.team5_select {
  width : 700px;
  height : 500px;
  background-color: white;
}

.team5_select img{
  position: relative;
  width : 300px;
  height : 300px;
  top : 200px;
  left : 200px;
}

.img5_info {
  position: relative;
  bottom : 300px;
  left: 60px;
  width: 600px;
  height : 200px;
}

.img5_info img{
  position : relative;
  top : 44px;
  width : 50px;
  height: 50px;
}

.img5_info h1{
  position : relative;
  top : 0;
  left : 270px;
  font-weight: bolder;
  font-family: 'Arial';
}

#p_51 {
  position : relative;
  top : 0;
  left : 215px;
  font-weight: bolder;
  color : orange;
  font-size : 15px;
}

#p_52 {
  position : relative;
  top : 0;
  left : 160px;
  font-weight: bolder;
  font-size : 24px;
}

#section4_container {
  position : relative;
  height : 100vh;
  background-color : white;
  z-index : -1;
}

#section4_container h1 {
  font-family : 'NanumSquare';
  position : absolute;
  left : 70%;
  top : 280px;
  text-align : center;
  font-weight : bold;
  color : black;
  text-shadow : 2px 2px 5px lightgray;
}

#section4_container h3 {
  font-family : 'NanumSquare';
  position : absolute;
  left : 75%;
  top : 340px;
  text-align : center;
  font-weight : bold;
  color : rgb(59, 58, 58);
  text-shadow : 2px 2px 5px lightgray;
}

#section4_container #h3_sub {
  font-family : 'NanumSquare';
  position : absolute;
  left : 75%;
  top : 370px;
  text-align : center;
  font-weight : bold;
  color : rgb(59, 58, 58);
  text-shadow : 2px 2px 5px lightgray;
}

.box4_wrap {
  width : 70vw;
  display : block;
}

#img4_1 {
  position : absolute;
  top : 95px;
  left : 300px;
  background-color: antiquewhite;
  width : 250px;
  height : 350px;
  z-index : 50;
  transform : rotate(-10deg);
  border-radius: 10px;
}

#img4_1 img {
  width : 230px;
  height : 330px;
  margin : 10px 0 0 10px;
}

#img4_2 {
  position : absolute;
  top : 130px;
  left : 600px;
  background-color: antiquewhite;
  width : 250px;
  height : 350px;
  z-index : 51;
  transform : rotate(10deg);
  border-radius: 10px;
}

#img4_2 img {
  width : 230px;
  height : 330px;
  margin : 10px 0 0 10px;
}

#img4_3 {
  position : absolute;
  top : 320px;
  left : 450px;
  background-color: antiquewhite;
  width : 250px;
  height : 350px;
  z-index : 52;
  transform : rotate(-7deg);
  border-radius: 10px;
}

#img4_3 img {
  width : 230px;
  height : 330px;
  margin : 10px 0 0 10px;
}

#img4_4 {
  position : absolute;
  top : 330px;
  left : 770px;
  background-color: antiquewhite;
  width : 250px;
  height : 350px;
  z-index : 52;
  transform : rotate(20deg);
  border-radius: 10px;
}

#img4_4 img {
  width : 230px;
  height : 330px;
  margin : 10px 0 0 10px;
}


.section5_container {
  background-color: rgb(49, 48, 48);
  height : 50vh;
  z-index : -1;
}

.footer_box ul {
  font-size : 15px;
  font-weight : bolder;
}

.footer_wrap {
  background-color: rgb(49, 48, 48);
  color : white;
  display : flex;
  justify-content: space-evenly;
}

.footer_box {
  margin-top: 30px;
  display : inline-block;
}

#ula {
  margin-bottom : 10px;
}

.footer_box li {
  font-size : 12px;
  list-style-type: none;
  font-weight : lighter;
}

.etc {
  background-color: rgb(49, 48, 48);
  color : white;
}

.etc ul {
  display : flex;
  font-size : 12px;
  justify-content: center;
  margin-bottom : 0;
}

.etc li {
  width : 130px;
  margin-left: 30px;
  list-style-type: none;
  border-right : 1px solid rgb(35, 34, 34);
}

.etc li:nth-child(4) {
  border-right : none;
}

.etc #sp {
  font-weight : bold;
  color : rgb(24, 162, 24);
}

.etc_info {
  height : 50px;
  background-color: rgb(49, 48, 48);
}

.etc_info ul {
  display : flex;
  font-size : 10px;
  justify-content: center;
  margin-bottom: 0;
}

.etc_info li {
  margin-top : 5px;
  color : rgb(155, 151, 151);
  margin-left : 15px;
  list-style-type: none;
}

.etc_info p {
  text-align: center;
  color : rgb(155, 151, 151);
  font-size : 10px;
}

@keyframes typing {
  from {
      visibility : visible;
      color : white;
      width : 0;
  }
  to {
      visibility : visible;
      color : black;
  }
}

@keyframes blink {
  50% {
      border-color : transparent
  }
}

@keyframes runleft {
  to {
      transform : translate(-350px, 0);
  }
}

@keyframes fadein {
  from {
      opacity : 0;
  }
  to {
      opacity : 1;
  }
}

