html, body{
    width: 100%;
    height: 100%
  }

  section{
    padding: 10% 0;
    display: flex;
    justify-content: center;
}

.post{
  width: 100%;
  padding: 0 15%;
}
.title{
  font-size: 2.7rem;
}
table{
  width: 100%;
  border-top: 1px solid black;
  border-bottom: 1px solid black;
  margin-bottom: 30px;
}
th{
  padding: 15px 10px;
}
td{
  padding: 15px 10px;
  border-left: 1px solid lightgray;
}

select{
  width: 20%;
  height: 30px;
}

#title{
  width: 50%;
  height: 25px;
}

.submit-btn{
  width: 8%;
  height: 40px;
  text-align: center;
  float: right;
  background-color: blanchedalmond;
  border: none;
}
.back-btn{
  width: 8%;
  height: 40px;
  background-color: blanchedalmond;
  padding: 10px 15px;
}

/*미디어 쿼리*/
@media (max-width:768px){
  .post{
    padding: 0;
    margin: 10% 20%;
  }
}



