td div {
  width: 100%;
  height: 100%;
}

section {
  display: flex;
  justify-content: center;
}

#teamTitle {
  width: 23%;
  height: 23%;

}

#top {
  padding: 5% 20%;
  display: flex;
  justify-content: center;
  align-items: center;
}

#teamName {
  font-size: 4rem;
  font-weight: 700;
  margin: 0 4%;
}

.itemImg {
  width: 90%;
  height: 500%;

}