header {
    top : 0;
    position : fixed;
    width: 100%;
    height: 10%;
    color: white;
    background-color : white;
    opacity : 1;
    z-index : 1;
    border-bottom : 2px solid whitesmoke;
  }
  
  .header_title {
    margin-bottom: 30px;
    color : black;
    font-size : 30px;
    font-family: 'Pacifico';
    font-weight : bold;
  }
  
  .login_user {
    margin-bottom: 30px;
    font-size : 100%;
    color : black;
    font-weight : bold;
    font-family : 'Poppins' sans-serif;
  }
  
  #login {
    padding-left : 1%;
    display: flex;
    justify-content: space-around;
    align-items: center;
  }
  
  #login span a {
    font-family : 'Arial';
    text-decoration : none;
    display : flex;
    color : black;
    line-height : 65px;
    margin-left : 5%;
    margin-bottom : 30px;
  }
  #log a:hover {
    color : gold;
  }
  
  @media screen and (max-width:1024px) {
    header {
      overflow: hidden;
    }
    .header_title {
      margin-top : 2.5%;
      display : block;
      font-size : 80%;
      float: left;
      font-size : 20px;
    }
    .login_user{
      display : none;
    }
  }
  
  @media screen and (max-width:500px) {
    header {
      height : 8vh;
      overflow: hidden;
    }
    #log {
      font-size : 90%;
    }
  
    .login_user {
      font-size : 65%;
    }
  @media screen and (max-width:1024px) {
    header {
      overflow: hidden;
    }
    .header_title {
      margin-top : 2.5%;
      display : block;
      font-size : 80%;
      float: left;
      font-size : 20px;
    }
    .login_user{
      display : none;
    }
    
    .login_delete {
      display : none;
    }
  }
    
    @media screen and (max-width:500px) {
      header {
        height : 8vh;
      }
      #log {
        font-size : 90%;
      }
    
      .login_user {
        font-size : 65%;
      }
    }
  }