@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@700&display=swap');
header {
    top : 0;
    position : fixed;
    width: 100%;
    height: 10%;
    color: white;
    background-color : white;
    opacity : 1;
    z-index : 1;
    border-bottom : 2px solid whitesmoke;
  }
  
  .header_title2 {
    margin-top : 10px;
    color : black;
    font-size : 30px;
    font-family: 'Poppins';
  }
  
  .login_user2 {
    margin-top: 10px;
    font-size : 100%;
    color : black;
    font-weight : bold;
    font-family : 'Poppins' sans-serif;
  }

  #log2 {
    margin-bottom : 5px;
  }
  
  #login2 {
    display: flex;
    justify-content: space-around;
    align-items: center;
  }
  
  #login2 span a {
    margin-top : 15px;
    font-family : 'Arial';
    text-decoration : none;
    display : flex;
    color : black;
    line-height : 15px;
    height : 15px;
  }
  #log2 a:hover {
    color : gold;
  }

  .login_item2::after {
    display:block;
    content: '';
    border-bottom: solid 3px black;  
    transform: scaleX(0);  
    transition: transform 250ms ease-in-out;
  }
  .login_item2:hover::after { transform: scaleX(1); }

  .login_user2::after {
    display:block;
    content: '';
    border-bottom: solid 3px black;  
    transform: scaleX(0);  
    transition: transform 250ms ease-in-out;
  }
  .login_user2:hover::after { transform: scaleX(1); }
  
  @media screen and (max-width:1024px) {
    header {
      overflow-x: hidden;
    }
    .header_title2 {
      margin-top : 2.5%;
      display : block;
      font-size : 80%;
      float: left;
      font-size : 20px;
    }
    .login_user2 {
      display : none;
    }
  
    .login_delete2 {
      display : none;
    }
  }
  
  @media screen and (max-width:500px) {
    header {
      height : 9vh;
    }
    .header_title2 {
      margin-top : 4%;
    }
    #log2 {
      font-size : 80%;
    }
  
    .login_user2 {
      font-size : 65%;
    }
  }
  
  @media screen and (max-width:920px) {
    header {
      height : 9vh;
    }
    .header_title2 {
      margin-top : 5%;
    }
    #log2 {
      margin-top : 1%;
      font-size : 100%;
    }
  
    .login_user2 {
      margin-top : 3%;
      font-size : 90%;
    }
  }