html{
  width: 100%;
  height: 100%
}

body {
  position: relative;
  
  z-index: 1;
  

}
body::before{
  width: 100%;
  height: 100%;
  opacity: 0.6;
  content: "";
  position: absolute;
  background-image: url("/img/background.jpg");
  background-repeat: no-repeat;
  background-size : auto;
  top: 0%;
  left: 0%;
  right: 0%;
  left: 0%;
  bottom: 0%;
  z-index: -1;
}

td div {
  width: 100%;
  height: 100%;
}

section {
  display: flex;
  justify-content: center;
  opacity: 1;
}

#teamTitle {
  width: 23%;
  height: 23%;

}
#itemList{
  padding: 0 10%;
}

#top {
  padding: 5% 20%;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 1;
}

#teamName {
  font-size: 4rem;
  font-weight: 700;
  margin: 0 4%;
  
}

.itemImg {
  width: 90%;
  height: 500%;
  display: block;
  margin: auto;
  
}

.cons{
  margin-top: 2%;
}

.item{
  background-color: rgba(255, 255, 255, 0.5);
  padding: 4%;
  margin: 5% 0;
}

td{
  padding: 0 1%;
  
}

.item h4{
  font-weight: 700;
  margin-bottom: 4%;
  text-align: center;
}
.con{
  width: 7%;
  height: 7%;
  margin-left: 2%;
  
}